STRING_SESSION1 = "BQCFKdAAhPpjRJJpAGZHESXD3rPBojgiJP0Ex9GYVUanxSNQ_9QNy5vKRbYndWi8LWcwACrNpGDA1LWnwhYKImS5wZHt66I57qxwapWrdwhqjF-mcczD3Gk0AprzwVpsTo-7I5qJatkw8vFs-GYSOri2sU1H1OW9y5cVjEeHr2DekTiSwhkJiCJ_8vwVobVZMQzjcycLerJgbMQEYg1Y1Z5u9BX3xzdCCeLPjnoqOeuCoSI5hdHOyMjM6ZGppJy3Wl2MEU8CG9EG-gIPTJ124OOK7RrVDtTKqoSmckyYGPFmysN5e7JMgVLKR30a4Ogr43_eoKnaaayU4DJcPplkIsdkOatkzgAAAAHNixNAAA"
SUDO_USERS = ""
OWNER_ID = "7743411008"
BOT_TOKEN = "7657501259:AAF-lQzuuGpL_yUW2-Ea1l7XDMyz1VItP8Y"
MONGO_URL = "mongodb+srv://nshubh345:1FmseyW0TKaWNMNo@cluster0.pgewb.mongodb.net/?retryWrites=true&w=majority"
